body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url("/images/fondo_agregarProductos.jpg") no-repeat;
    background-size: cover;
}
nav{
    max-width: 900px;
    height: 3rem;
    padding: 10px;
    margin: auto;
    background-color: white;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
    margin-bottom: 50px;
}
nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav img{
    width: 4rem;
    border-radius: 2rem;
    margin-top: -20px;
    margin-left: -50px;
}
nav a{
    text-decoration: none;
    color: #333;
    padding: 50px;
    margin-left: 80px;
}
nav a:hover{
    color: #000000;
    text-shadow: black 0.3px 0.3px 0.3px;
}
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 50px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
@media  (min-width: 368px) and (max-width: 1400px) {
    nav a{
        padding: 10px;
    }

}