@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-family: "Montserrat", serif;
    text-align: center;
}

/*Barra de navegacion*/
.logo img {
    cursor: pointer;
    width: 70px;
    border-radius: 100px;
    box-shadow: -4px 4px 4px #b189a7;
    margin: 10px 5px 5px 20px;
}

nav {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #3C91E6;
}

.nav-links a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 15px;
}

.nav-links a:hover {
    color: #3FA7D6;
}

.nav-logins {
    display: flex;
}

.nav-logins a {
    justify-content: space-between;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(219, 218, 218, 0.63);
    color: #000;
}

.nav-logins a:hover {
    color: white;
    background-color: #A3C3D9;
}

#registrar {
    background-color: rgb(78, 76, 76);
    color: #fff;
}

#registrar:hover {
    background-color: #CCD6EB;
    color: #000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh !important;
}

.header {
    background: url(/images/imagen_oscura.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: black 2px 2px 2px;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #EFF2F1;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
    background-color: #3c91e67a;
    text-transform: uppercase;

}

.btn-home {
    display: flex;
}


.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background-color: #1f1d1d;

}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 15rem;
    width: 17rem;
    background-color: #101010;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box img {
    padding-top: 10px;
    width: 16rem;
    height: 14rem;
    border-radius: 5px;
}

.about {
    background-color: #171717;
}

.price {
    background: url(/images/imagen2.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
    height: 60vh;
}
.texto-dinamico {
    mix-blend-mode: difference;
    color: white; /* Color base */
}

@media only screen and (min-width: 360px) and (max-width: 1440px){
    .title {
        margin-bottom: 0;
    }

    .sau {
        height: 120vh;
    }

    .box-container .box {
        margin: 1rem;
    }




}