<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Issi</title>
    <link rel="stylesheet" th:href="@{/css/registro.css}">
    <link rel="icon" href="/images/logo.jpg"/>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.jpg" alt="Logo"/>
            </div>
            <div class="nav-links">
                <a href="/#acercade">Acerca De</a>
                <a href="/#productos">Ropa</a>
                <a href="/#productos">Accesorios</a>
                <a href="/#pagos">Descuentos</a>
                <a href="/#contacto">Contacto</a>
            </div>
            <div class="nav-logins">
                <a th:href="@{/api/login}">Ingresar</a>
                <a th:href="@{/api/registro}" id="registrar">Registrar</a>
            </div>
        </nav>
    </header>
    <div class="fondo imagen">
        <div class="blur">
            <main>
                <div class="card">
                    <form action="" method="POST" th:object="${usuario}">
                        <h2>REGISTRO</h2>
                        <input type="text" placeholder="Nombre" th:field="*{nombre}" required>
                        <input type="text" placeholder="Apellido" required>
                        <input type="email" placeholder="Correo"   th:field="*{email}" required>
                        <input type="date" th:field="*{fechaNacimiento}" id="fecha">
                        <input type="tel" placeholder="Numero de telefono" th:field="*{telefono}">
                        <input type="password" placeholder="Contraseña" th:field="*{contrasena}" required>
                        <input type="password" placeholder="Confirma contraseña" required>

                        <input type="submit" class="btn" value="Registrar">
                        <div class="consulta">
                            <p>¿Tienes una cuenta?</p>
                            <br/>
                            <a th:href="@{/api/login}" target="_blank">Iniciar Sesión</a>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
</body>
</html>